@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url('./woff2/FiraSans-Regular.woff2') format('woff2'),
  url('./ttf/FiraSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  src: url('./woff2/FiraSans-Medium.woff2') format('woff2'),
  url('./ttf/FiraSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  src: url('./woff2/FiraSans-SemiBold.woff2') format('woff2'),
  url('./ttf/FiraSans-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url('./woff2/FiraSans-Bold.woff2') format('woff2'),
  url('./ttf/FiraSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  src: url('./woff2/FiraMono-Regular.woff2') format('woff2'),
  url('./ttf/FiraMono-Regular.ttf') format('ttf');
}